
<div class="container">

    <div class="row">

        <div class="col-7" >
                <div class="about-top">

                    <h2 class="heading-main">About Ally and Caitlyn</h2>  
                    
                </div>
                       
        </div>
        <div class="col-5 about-body">
            <div class="picture-ally picture-profile" >
            
            </div>
            <h2 class="heading-name">Ally</h2>
            <p class="about-ally"> I am Ally. I am a junior at Virginia Tech this year majoring in computer science. 
                I have been to 11 countries and I can't wait to explore more!</p>

            <div class="picture-caitlyn picture-profile">

            </div>    
            <h2 class="heading-name">Caitlyn</h2>
            <p class="about-ally"> I am Caitlyn. I am a junior at Virginia Tech this year majoring in econ. 
                    I am in the business fraternity DSP where I will be serving as vice president this year.</p>

        </div>

    </div>

</div>
