
.header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.site-menu{
    background: #eee;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .85;
    z-index: 500;
    transition: all 300ms ease;
}

.menu {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.menu-item {
    display:inline;
} 
.menu-link {
    display:inline-block;
    font-family: Georgia;
    text-transform: uppercase;
    color: black;
    padding:10px;
}
.home-top{
    background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/17759911_1428277643891447_4391441707395042692_n.jpg?_nc_cat=109&_nc_oc=AQnoWthpWrtNiDk4G0TfUyJBFN2FB5wZRQIF95IxZe25ybczSi_MRpbDAtYYhscz6aU&_nc_ht=scontent-atl3-1.xx&oh=80324158974d5c26333f383e64d38e1a&oe=5DE8BC89");
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;

}

.copyright{
    text-align:"center";
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#eee;
}

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus {
      outline: none !important;
}
.btn {
    outline: none !important;
}
.heading-main{
    text-align: center;
    padding-top: 75px;
    font-family: Georgia;
    color: white;
    font-size: 87px;
    
}

.heading-main-sub{
    text-align: center;
    font-family: Georgia;
    color: white;

}


