<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />

</head>

<div class="site-top">
  <nav class="site-menu">
    <div class="container">
        <ul class="menu" routerLinkActive="active">
            <li class="menu-item">
              <a class="menu-link" routerLink="home">Home</a></li>
            <li class="menu-item">
              <a class="menu-link" routerLink="about">About</a></li>
            <li class="menu-item">
              <a type="button" class="menu-link dropdown-toggle btn">Locations</a></li>

        </ul>
    </div>
  </nav>

  <br>

  
  <div class="home-top">
    <h2 class="heading-main">AROUND THE WORLD</h2>
    <h3 class = "heading-main-sub"> 106 days - 12 countries - 2 girls - 1 semester</h3>
  </div>
<div class="site-body">


</div>



<router-outlet></router-outlet>
