.home-top{
    background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/17759911_1428277643891447_4391441707395042692_n.jpg?_nc_cat=109&_nc_oc=AQnoWthpWrtNiDk4G0TfUyJBFN2FB5wZRQIF95IxZe25ybczSi_MRpbDAtYYhscz6aU&_nc_ht=scontent-atl3-1.xx&oh=80324158974d5c26333f383e64d38e1a&oe=5DE8BC89");
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;

}

.heading-main{
    text-align: center;
    padding-top: 75px;
    font-family: Georgia;
    color: white;
    font-size: 87px;
    
}

.heading-main-sub{
    text-align: center;
    font-family: Georgia;
    color: white;

}
.container{
    padding: 0 0 0 50;
}

.countdown-title{
    color: #ADD8E6;
    font-family: Georgia;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;

    
}

.countdown {
    width: 100%;
    margin: auto;
    border:1px solid #ccc;
    border-width:1px 0;
    font-family: Georgia;
    list-style:none;
    padding: 50px;  
    text-align:center;
    
}

.countdown-item {
    color: #ADD8E6;
    font-family: Georgia;
    display:inline;
    font-size: 40px;
    padding: 10px;
} 

#map{
    background-image: url("https://miro.medium.com/max/1400/1*DIgURDRDmn3EXR2SIp3jPQ.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0px 500px;
}

#area1{
    padding: 0px 50px 0px 50px;
}
#area1:hover{
    opacity:0.2;
}