.home-top{
    background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/17759911_1428277643891447_4391441707395042692_n.jpg?_nc_cat=109&_nc_oc=AQnoWthpWrtNiDk4G0TfUyJBFN2FB5wZRQIF95IxZe25ybczSi_MRpbDAtYYhscz6aU&_nc_ht=scontent-atl3-1.xx&oh=80324158974d5c26333f383e64d38e1a&oe=5DE8BC89");
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;

}

.heading-main{
    text-align: center;
    padding-top: 75px;
    font-family: Georgia;
    color: white;
    font-size: 87px;
    
}

.heading-main-sub{
    text-align: center;
    font-family: Georgia;
    color: white;

}

.title-sas{
    border:1px solid #ccc;
    border-width:1px 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: cambria;
    text-transform: uppercase;
}

#summary-sas{
    text-align: center;
    margin: auto;
    padding: 10px;
}

.col-6{
    margin-top: 50px;
}

.picture-summary-sas{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-image: url("https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/42211171_741351582872551_6472723947971411968_n.jpg?_nc_cat=103&_nc_oc=AQlGoQWZ6jThoPM1TlL0m_Wtna_46KahAaqqYxzM2lJub7NNcsrnX0fC08PZ1iz58pA&_nc_ht=scontent-lga3-1.xx&oh=9dc34219a94d8638e2ce27995f14e752&oe=5DDCD942");
    background-position-x: 50%;
    background-position-y: 30%;
    background-size: 100%;

    background-repeat: no-repeat;
    margin: auto;
}


#picture-sas{
    background-image: url(https://res-4.cloudinary.com/abroad101/image/upload/c_limit,h_800,w_800/v1539985204/Program_411_ProfilePhoto_445_11e1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    padding: 200px 0 200px;
}

.container{
    padding: 0 0 0 50;
}

.countdown-title{
    color:black;
    font-family: Georgia;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0px 50px 5px;
    text-transform: uppercase;
    font-size: 41px;

    
}

.countdown {
    width: 100%;
    margin: auto;
    border:1px solid #ccc;
    border-width:1px 0;
    font-family: Georgia;
    list-style:none;
    padding: 50px;  
    text-align:center;
    
}

.title-countries{
    font-family: georgia;
    text-align: center;
    color: black;
    width: 100%;
    margin: auto;
    font-size: 30px;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.countdown-item {
    color: #ADD8E6;
    font-family: Georgia;
    display:inline;
    font-size: 40px;
    padding: 10px;
} 


.col-4{
    text-align:center;
    padding: 50px;
    color: white;
    font-size: 30px;
    font-family: georgia;
    
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

a{
    color: white;
}

a:hover{
    color: white;
}

.image{
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.hawaii{
    background-image:url("https://live.staticflickr.com/4/8332542_57fc4f34fe_b.jpg");
    
}

.japan{
    background-image:url("https://live.staticflickr.com/8265/28350408591_33df20c0d7_b.jpg");
    

}

.china{
    background-image:url("https://live.staticflickr.com/2008/2213475574_356a684dd7_b.jpg");
    

}

.vietnam{
    background-image: url("https://live.staticflickr.com/4833/45888883352_ff683f5298_b.jpg")
}

.malaysia{
    background-image: url("https://live.staticflickr.com/5092/5516075602_999206f91d_b.jpg");
}

.india{
    background-image: url("https://live.staticflickr.com/2097/2214731465_76c02b8074_b.jpg")
}

.mauritius{
    background-image: url("https://live.staticflickr.com/9/76566322_533eaeac3c_b.jpg");
}

.southafrica{
    background-image: url("https://live.staticflickr.com/5183/5588100982_31167085e9_b.jpg");
}

.ghana{
    background-image: url("https://live.staticflickr.com/8057/8203371872_8e2d7fbd9d_b.jpg");
}

.morocco{
    background-image: url("https://live.staticflickr.com/5450/14108980603_21547eb1fc_b.jpg");
}

.netherlands{
    background-image: url("https://live.staticflickr.com/7799/17347567964_b5c8e994de_b.jpg");
}

.germany{
    background-image: url("https://farm3.staticflickr.com/2667/3724279525_1acf72fe00_b.jpg");
}

.space{
    padding: 20px;
}



