
<div class="container">

    <div class="row">

        <div class="title-sas">
          {{ title }}
        </div>
        <div class="col-6" id="summary-sas">
          <div class="picture-summary-sas">
          </div>
          {{ summary_sas }}
          
        </div>
        <div  class ="col-6" id="picture-sas" >
        </div>


        <h2 class="countdown-title"> how long until disembarkation? </h2>

        <ul class="countdown">
          <li class="countdown-item"> {{ daysLeft }} days </li>  
          <li class="countdown-item"> {{ hoursLeft }} hours </li>  
          <li class="countdown-item"> {{ minutesLeft }} minutes </li>  
          <li class="countdown-item"> {{ secondsLeft }} seconds </li>
        </ul>
        
        <div class="title-countries">
          Where are we going?
        </div>


        <div class="col-4 image {{country}}" id="countryClicked" *ngFor="let country of countries" (click)="countryClicked(country)">
          <a [routerLink] = "['/home', country]" > {{ country }} </a>
        </div>

        
        
         
        
      
    </div>

    
      
    

</div>
